body {
    background-color: rgb(255, 219, 219);
    max-width: 2000px;
    height: 100%;
}

#header,
#mySidebar {
    background-color: rgb(37, 0, 0);
}

h4 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    position: absolute;
    width: 150px;
    left: 50%;
    top: 50%;
    margin-left: 450px;
    margin-top: 220px;
    max-width: 200%;
    color: aliceblue;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0.589)
}

h4:hover {
    background-color: black;
    color: rgb(255, 0, 0);
}

#ph4 {
    position: absolute;
    left: 50%;
    margin-left: -307px;
    margin-top: -5px;
    max-width: 200%;
    z-index: 1;
}

#wall1 {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -300px;
    width: 900px;
}

.col-md-4 {
    float: left;
}

.ph2 {
    border: inset 5px rgb(0, 153, 255);
    margin: 0px 0px 50px 0px;
}

.ph2:hover {
    border: ridge 5px rgb(255, 255, 255);
    margin: 0px 0px 50px 0px;
}

.ph2:active {
    border: ridge 5px rgb(215, 250, 255);
    margin: 0px 0px 50px 0px;
}

@media (max-width:300px) {
    #ph4 {
        position: absolute;
        left: 50%;
        margin-left: -50%;
        max-width: 100%;
    }
    .ph2 {
        max-width: 100%;
    }
    #wall1 {
        position: absolute;
        left: 50%;
        top: 50px;
        margin-left: -50%;
        width: 100%;
    }
}

@media (max-width:600px) {
    #ph4 {
        position: absolute;
        left: 50%;
        margin-left: -50%;
        max-width: 100%;
    }
    .ph2 {
        max-width: 100%;
    }
    #wall1 {
        position: absolute;
        left: 50%;
        top: 50px;
        margin-left: -50%;
        width: 100%;
    }
}

@media (max-width:768px) {
    #ph4 {
        position: absolute;
        left: 50%;
        margin-left: -50%;
        max-width: 100%;
    }
    .ph2 {
        max-width: 100%;
    }
    #wall1 {
        position: absolute;
        left: 50%;
        top: 50px;
        margin-left: -50%;
        width: 100%;
    }
}

@media (max-width:992px) and (min-width:300px) {
    #ph4 {
        position: absolute;
        left: 50%;
        margin-left: -50%;
        max-width: 100%;
    }
    .ph2 {
        max-width: 100%;
    }
    #wall1 {
        position: absolute;
        left: 50%;
        top: 50px;
        margin-left: -50%;
        width: 100%;
    }
}