.style3 {
    background-color: rgb(212, 255, 253);
    max-width: 2000px;
    height: 100%;
}

.style3 #div1 {
    position: fixed;
    width: 300px;
    height: 950px;
    background-color: rgb(0, 27, 58);
    margin-top: -10px;
    z-index: 3;
}

.style3 #ph1 {
    position: absolute;
    left: 50%;
    margin-left: -350px;
    margin-top: -10px;
    max-width: 200%;
}

.style3 #wall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: 500px;
    width: 900px;
}

.style3 #ph2 {
    position: absolute;
    left: 50%;
    margin-left: -307px;
    max-width: 200%;
    margin-top: -20px;
}

.style3 #wall img {
    float: left;
}

.style3 div[class^="col"] {
    padding-left: 0px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.style3 .row {
    margin-bottom: 10px;
}

.style3 .row:nth-of-type(1)>div[class^="col"]>div {
    height: 410px;
}

.style3 .row:nth-of-type(1)>div[class^="col"]>div.half {
    height: 200px;
}

.style3 .row:nth-of-type(1)>div[class^="col"]>div.half:nth-of-type(1) {
    margin-bottom: 10px;
}

.style3 .row:nth-of-type(2)>div[class^="col"]>div {
    height: 515px;
}

.style3 .row:nth-of-type(3)>div[class^="col"]>div {
    height: 200px;
}

.style3 .container img {
    min-width: 50%;
    max-width: 200%;
    border: inset 2px rgb(0, 153, 255);
}

.style4 {
    background-color: rgb(255, 219, 219);
    max-width: 2000px;
    height: 100%;
}

.style4 #div1 {
    position: fixed;
    width: 300px;
    height: 950px;
    background-color: rgb(37, 0, 0);
    margin-top: -10px;
    z-index: 3;
}

.style4 h4 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    position: absolute;
    width: 150px;
    left: 50%;
    top: 50%;
    margin-left: 450px;
    margin-top: 220px;
    max-width: 200%;
    color: aliceblue;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0.589)
}

.style4 h4:hover {
    background-color: black;
    color: rgb(255, 0, 0);
}

.style4 #ph1 {
    position: absolute;
    left: 50%;
    margin-left: -307px;
    margin-top: -5px;
    max-width: 200%;
    z-index: 1;
}

.style4 #wall {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -300px;
    width: 900px;
}

.style4 .col-sm-4 {
    margin-top: 10px;
    min-width: 10%;
}

.style4 .ph2 {
    border: inset 5px rgb(0, 153, 255);
    margin: 0px -5px 50px -5px;
}

.style4 .ph2:hover {
    border: inset 5px rgb(15, 0, 70);
    margin: 0px -5px 0px -5px;
}

.style4 .ph2:active {
    border: ridge 5px rgb(215, 250, 255);
    margin: 0px -5px 0px -5px;
}