    /* margin 上右下左 */
    
    body {
        background-color: rgb(236, 253, 255);
        max-width: 2000px;
        height: 100%;
    }
    
    #div1 {
        position: fixed;
        width: 300px;
        height: 930px;
        background-color: rgb(20, 0, 66);
        margin-top: -10px;
        z-index: 3;
    }
    
    h3 {
        text-align: center;
        font-family: 'Noto Serif TC', serif;
    }
    
    img {
        float: right;
        text-align: center;
        z-index: 1;
        max-width: auto;
        margin-top: 10px;
    }
    
    #a1:link,
    .a2 {
        text-decoration: none;
    }
    
    h1:hover {
        color: rgb(173, 154, 255);
    }
    
    .table1 {
        float: right;
        color: black;
        margin: 50px 35px 0 0;
        text-align: left;
        border: 2px double black;
    }
    
    .td1,
    .td2 {
        color: black;
        padding: 10px;
        width: 150px;
    }
    
    td {
        border: 2px double black;
        width: 500px;
    }