    /* margin 上右下左 */
    
    body {
        background-color: black;
        max-width: 100%;
        height: 100%;
    }
    
    #header,
    #mySidebar {
        background-color: rgb(54, 54, 54);
    }
    
    .head1 {
        color: rgb(255, 255, 255);
    }
    
    h1 {
        height: 30px;
        font-size: 60px;
        color: white;
        font-family: 'Lobster', cursive;
        text-align: center;
        text-shadow: 3px 3px 2px #afafaf;
        letter-spacing: 3px;
        font-style: italic;
    }
    
    h2 {
        text-align: center;
        font-weight: bolder;
        font-family: 微軟正黑體;
        color: rgb(253, 249, 215);
        height: 5px;
    }
    
    #index {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -274px;
        margin-top: -212px;
        max-width: 100%;
    }
    
    h2,
    #a1:link,
    .a2,
    .a3,
    .a4,
    .a5 {
        text-align: center;
        text-decoration: none;
    }
    
    .a5 {
        text-align: center;
        color: rgb(245, 245, 234);
        font-size: 15px;
        font-style: "微軟正黑體";
    }
    
    h3:hover {
        font-size: 110%;
        color: rgb(223, 255, 255);
    }
    
    h1:hover {
        color: rgb(173, 154, 255);
    }
    
    @media only screen and (max-width: 768px) {}