    /* margin 上右下左 */
    
    body {
        background-color: rgb(236, 253, 255);
        max-width: 2000px;
        height: 100%;
    }
    
    #header,
    #mySidebar {
        background-color: rgb(20, 0, 66);
    }
    
    h3 {
        text-align: center;
    }
    
    #ph1 {
        position: absolute;
        left: 50%;
        margin-left: -274px;
        max-width: 200%;
    }
    
    .table1 {
        width: 848px;
        max-width: 200%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -274px;
        margin-top: 400px;
        color: black;
        text-align: left;
        border: 3px double rgb(0, 238, 255);
    }
    
    .tr1 {
        background-color: rgb(255, 233, 254)
    }
    
    .tr2 {
        background-color: rgb(255, 255, 227)
    }
    
    .td1,
    .td2 {
        color: black;
        padding: 20px;
        width: 150px;
    }
    
    .td3 {
        text-align: center;
    }
    
    .ph2 {
        width: 40%;
    }
    
    .ph3 {
        width: 35%;
    }
    
    td {
        border: 2px double rgb(176, 243, 255);
    }
    
    @media (max-width:600px) {
        #ph1 {
            position: absolute;
            left: 50%;
            max-width: 100%;
        }
        .table1 {
            width: 848px;
            max-width: 200%;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50%;
            margin-top: 50%;
        }
        .td1,
        .td2,
        .td3 {
            width: 50%;
        }
    }
    
    @media (max-width:768px) {
        #ph1 {
            position: absolute;
            left: 50%;
            max-width: 100%;
        }
        .table1 {
            width: 848px;
            max-width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50%;
            margin-top: 50%;
        }
        .td1,
        .td2,
        .td3 {
            width: 50%;
        }
    }
    
    @media (max-width:992px) and (min-width:601px) {
        #ph1 {
            position: absolute;
            left: 50%;
            max-width: 100%;
        }
        .table1 {
            width: 848px;
            max-width: 200%;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50%;
            margin-top: 50%;
        }
        .td1,
        .td2,
        .td3 {
            width: 50%;
        }
    }